

html {
    height : 100%;
    width  : 100%;
    min-width : 1024px;
}

body {
    height : 100%;
    width  : 100%;
    margin : 0;
    padding: 0;
    min-width : 1024px;
}

#banner-div {
/*    height : 150px; */
    width : 100%;
    height: 30px;
    padding: 2px;

    background-color : #0038aa;
    border : 1px solid #333;
}

#banner-social-icon {
    display : inline-block;
    float  : right;
    height : 10px;
}

#banner-menu-links {
    display: inline-block;
    height : 10px;
    color : white;
    padding : 5px;
}

a#getstarted{
   color: red;
}

h3#getstarted{
 color:red;
}

a.menu-link{
    color : white;
    text-decoration:none;
    margin: 0 20px;
}

a {
 text-decoration:none;
}

#title {
    margin-left : 20px;
    margin-top: 30px;
    font-family: GillSans, Trebuchet, Calibri, Arial, sans-serif;
    font-size : 30pt;
    display : inline-block;
    font-weight : bolder;
}

#title-div {
    padding-bottom: 20px;
    height : 112px;
}

#body-left{
    height : 100%;
    width  : 200px;
    float  : left;
    
}

#body-center {
    position : absolute;
    left : 220px;
    top  : 125px;
    background-color: #f5f5ff;
    padding-left : 10px;
    padding-right : 10px;
}

#body-center-title {
    text-align : center;
}

#body-footer{
    position : absolute;
    bottom : 0;
    left : 0;
    height : 30px;
    width  : 100%;
    background-color : #262626;
    color : #999;
}

.sponsor-logo {
    width : 100%;
    margin : 30px auto;
    text-align : center;
}

.sponsor-logo img {
    display : inline-block;
    margin : 0 auto;
}
.rounded--button-corners {  
  -moz-border-radius: 80px; /* Firefox */  
  -webkit-border-radius: 80px; /* Safari, Chrome */  
  border-radius: 80px; /* CSS3 */  
}  

.icon { background:url(../image/top-icon.png) no-repeat top left; height:10px; display:inline-block; float:right; }
.facebook { background-position: 0px  0px; width:7px;  margin:7px 10px }
.twitter  { background-position:-29px 0px; width:9px;  margin:7px 10px }
.next     { background-position:-57px 0px; width:13px; margin:7px 10px }
.mail     { background-position:-88px 0px; width:13px; margin:7px 10px }

#author-attribution {
    margin : 5px 30px;
    float: right;


}


.event-box {
    float : left;
    height : 100%;
    border : 1px solid black;
    padding : 2px;
}

.event-box-container4 .event-box{
    width : 20%;
    margin-left: 4%;
}

.event-box-container4 {
    width : 100%;
}

.event-box-container3 .event-box{
     width : 20%;
         margin-left: 4%;
        }

        .event-box-container3 {
             width : 100%;
     padding-left:160px;
            }

.event-box-title {
    font-weight : bolder;
    text-align : center;
    background-color : #ba9ac1 ;
}

.event-box ul {
    -webkit-padding-start : 20px;
    -moz-padding-start : 20px;
}

